body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.content h1 {
    font-size: 2.5em;
    color: #0078d7;
    margin-bottom: 20px;
}

.content p {
    color: #ccc;
    margin-bottom: 20px;
}

.biodata {
    text-align: left;
}

.biodata-section {
    background-color: rgba(47, 51, 54, 0.5);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.biodata-section h2 {
    margin-top: 0;
    color: #0078d7;
}

.biodata-section p {
    color: #ccc;
}

.footer {
    border-top: 2px solid rgba(47, 51, 54, 0.5);
    margin-top: 20px;
    padding-top: 20px;
}

.footer h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
}

.footer h2 {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.2em;
}

.glow-on-hover {
    transition: text-shadow 0.3s ease-in-out;
}

.glow-on-hover:hover {
    text-shadow: 0 0 8px #0078d7;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content h1 {
        font-size: 2em;
    }

    .biodata-section {
        padding: 15px;
    }

    .footer h1 {
        font-size: 1.5em;
    }

    .footer h2 {
        font-size: 1em;
    }
}
